html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #699BF7;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  color: #fff;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  /* border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; */
}

.form-signin input[type="password"] {
  margin-bottom: 50px;
  /* border-top-left-radius: 0;
  border-top-right-radius: 0; */
}

.judul {
  text-align: center;
  color: #fff;
}

.btn-submit {
  background-color: #fff;
  color: #699BF7;
  border-style: none;
  border-radius: 5px;
}

.btn-submit:hover {
  background-color: rgba(255, 255, 255, 0.842);
  color: #699BF7;
}

.copyright {
  color: #fff;
  text-align: center;
}
